/*Test Css to ensure all link documents are working*/

/*Fix margin issue on page*/
html, body {

margin:0;
padding:0;

}

.clearfix {
  overflow: auto;
}

* {
	box-sizing: border-box;
	/*background-color: white;*/
}

img {
	border-radius: 22px;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	text-align: center;
	background-color: #F9F9F9;
}

h2 {
	font-weight: lighter;
}

a {
	color: black;
	text-decoration: none;
}

img {
	max-width: 100%
}

li {
	list-style-type:  none;
	
}

p {
	margin: 30px;
}

.portfolio {
	background-color: white;
	padding: 20px;

}


.name a,
	.main-nav a {
		display: block;
		text-align: center;
		padding: 10px;
	}
.main-nav {
	padding-left: 10px;
	padding-right: 10px;
}

.nav, 
.bio {
	background-color: #F9F9F9
}


.portfolio-heading {
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	opacity: .6

}

/*Font Opacity*/

.contact_info {
	margin: 20px;
	opacity: 0.5;
}

.bio_text {
	opacity: 0.5;
	margin: 20px;

}

	.contact_info {
		border-bottom: 1px solid black;
		margin-bottom: -25px;

	}



.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0px) and (max-width: 768px) {
	.foot-nav {
		display: none;
		visibility: hidden; 
	}
	.smallFooter {
		font-weight: bold;
		float: right;

	}

	.main-nav li {
	border: 1px solid white;
	margin: 5px;
	background-color: white;

}


}

@media (min-width: 769px) {

/*Navigation Menus and Profile Picture*/


.bio,
.bio_image {
	float: right;
	padding-bottom: 20px;
	padding-right: 20px;
}

	.main-nav-nav { 
		font-weight: bold;
		padding-right: 30px;
		display: inline-block;
		text-align: center;
		}

	.main-nav li {
		float: left;
		padding: 10px;
		margin: 10px;
	}



	.bio {
		width: 100%;
		float: right;
	}

	.bio_text {
		width: 50%;
		display: inline-block;
	}

		.main-nav {
			display: inline-block;
			text-align: center;
			margin-bottom: 10px;
			margin-top: -20px;
		}


	/*Cols*/
		.name,
		.col {
			float: left;
		}

		.marketing,
		.search_page {
			width: 50%;
			padding: 10px;
			float: left;
		}

		.travelApp,
		.map {
			width: 50%;
			padding: 10px;
			float: left;
		}

		.photoGallery,
		.calculator {
			width: 50%;
			padding: 10px;
			float: left;
		}



	.contact_info {
		padding-left: 150px;
		padding-right: 150px;
	}

	/*Footer*/

	.foot-nav { 
		font-weight: bold;
		float: right;
		padding-right: 30px;
		display: inline-block;
		}

	.foot-nav li {
		float: left;
		padding: 10px;
		margin: 10px;
	}

	.studentNameFooter {
		display: inline-block;
		float: left;
		font-weight: bold;
	}

	.smallFooter {
		display: none;
		visibility: hidden;


	}

}


@media (min-width: 1025px) {



	.marketing,
	.search_page,
	.travelApp {
		width: 33%;
		padding: 10px;
		float: left;
	}



.map,
.photoGallery,
.calculator {
		width: 33%;
		padding: 10px;
		float: left;
}



.contact_info {
	clear: both;

}

	

}